<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clientes</title>
</head>
<body>
<h1>Clientes</h1>

<a href="/clientes/novo">Novo Cliente</a>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
    </tr>

    <tr th:each="c : ${clientes}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nome}"></td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.cpf}"></td>
    </tr>
</table>

</body>
</html>
